In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('ajoshdoasoifadsadasbasdsa'))

In [3]:
s

0     a
1     j
2     o
3     s
4     h
5     d
6     o
7     a
8     s
9     o
10    i
11    f
12    a
13    d
14    s
15    a
16    d
17    a
18    s
19    b
20    a
21    s
22    d
23    s
24    a
dtype: object

In [4]:
s.unique()

array(['a', 'j', 'o', 's', 'h', 'd', 'i', 'f', 'b'], dtype=object)

In [5]:
s.value_counts()

a    7
s    6
d    4
o    3
b    1
j    1
i    1
f    1
h    1
dtype: int64

In [6]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [9]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [10]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64